.input,
.textarea
  background-color: #fff
  border: 1px solid #f3f3f3
  color: inherit
  font-size: 16px
  line-height: 26px
  width: 100%

  &:focus
    border-color: #303032

  &.error
    border-color: #ff0000

    &:focus
      border-color: #ff0000

  &:disabled
    opacity: 0.5

.input
  height: 60px
  padding: 17px 30px

.textarea
  height: 180px
  padding: 17px 30px
  resize: none

/*placeholder*/
.input::-webkit-input-placeholder
  color: #b8b8b8
  opacity: 1

.input::-moz-placeholder
  color: #b8b8b8
  opacity: 1

.input:-ms-input-placeholder
  color: #b8b8b8
  opacity: 1

.textarea::-webkit-input-placeholder
  color: #b8b8b8
  opacity: 1

.textarea::-moz-placeholder
  color: #b8b8b8
  opacity: 1

.textarea:-ms-input-placeholder
  color: #b8b8b8
  opacity: 1

/*:focus placeholder*/
.input:focus::-webkit-input-placeholder
  opacity: 0

.input:focus::-moz-placeholder
  opacity: 0

.input:focus:-ms-input-placeholder
  opacity: 0

.textarea:focus::-webkit-input-placeholder
  opacity: 0

.textarea:focus::-moz-placeholder
  opacity: 0

.textarea:focus:-ms-input-placeholder
  opacity: 0
