<div class="banners">
  <div class="banners__inner">
    <div class="banners__column-right">
      <div class="banners__item">
        <a class="banner banner--video" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="">
          <span class="banner__image-block">
            <span class="banner__image banner__image--video" style="background-image: url('images/content/img_6.jpg')"></span>
          </span>
          <span class="banner__title-block">
            <span class="banner__title">Трансляция Trunk Show season 2</span>
            <span class="banner__to_catalog">Смотреть видео</span>
          </span>
        </a>
      </div>
      <div class="banners__cells">
        <div class="banners__cell">
          <a class="banner banner--right" href="#1">
            <span class="banner__image-block">
              <span class="banner__image" style="background-image: url('images/content/img_45.jpg')"></span>
            </span>
            <span class="banner__title-block">
              <span class="banner__title">Заголовок небольшого баннера на две строки</span>
              <span class="banner__to_catalog">в каталог</span>
            </span>
          </a>
        </div>
        <div class="banners__cell">
          <a class="banner banner--right" href="#1">
            <span class="banner__image-block">
              <span class="banner__image" style="background-image: url('images/content/img_47.jpg')"></span>
            </span>
            <span class="banner__title-block">
              <span class="banner__title">Заголовок небольшого баннера на две строки</span>
              <span class="banner__to_catalog">в каталог</span>
            </span>
          </a>
        </div>
      </div>
      <div class="banners__item">
        <a class="banner banner--right" href="#3">
          <span class="banner__image-block">
            <span class="banner__image" style="background-image: url('images/content/img_5.jpg')"></span>
            <span class="banner__image-title">SALE</span>
          </span>
          <span class="banner__title-block">
            <span class="banner__title">Кольца, подвески и браслеты из платины</span>
            <span class="banner__to_catalog">в каталог</span>
          </span>
        </a>
      </div>
    </div>
    <div class="banners__column-left">
      <div class="banners__item">
        <a class="banner banner--left" href="#2">
          <span class="banner__image-block">
            <span class="banner__image" style="background-image: url('images/content/img_2.jpg')"></span>
            <span class="banner__image-title">Crow's Nest</span>
          </span>
          <span class="banner__title-block">
            <span class="banner__title">Кольца, подвески и браслеты из платины</span>
            <span class="banner__to_catalog">в каталог</span>
          </span>
        </a>
      </div>
      <div class="banners__item">
        <a class="banner banner--left" href="#4">
          <span class="banner__image-block">
            <span class="banner__image" style="background-image: url('images/content/img_3.jpg')"></span>
            <span class="banner__image-title">wedding rings</span>
          </span>
          <span class="banner__title-block">
            <span class="banner__title">Кольца, подвески и браслеты из платины</span>
            <span class="banner__to_catalog">в каталог</span>
          </span>
        </a>
      </div>
    </div>
  </div>
  <a class="banner banner--wide" href="#2">
    <span class="banner__image-block">
      <span class="banner__image" style="background-image: url('images/content/img_48.jpg')"></span>
      <span class="banner__image-title">Crow's Nest</span>
    </span>
    <span class="banner__title-block">
      <span class="banner__title">Кольца, подвески и браслеты из платины</span>
      <span class="banner__to_catalog">в каталог</span>
    </span>
  </a>
</div>
