<div class="banners">
  <a class="banner banner--right" href="#1">
    <span class="banner__image-block">
      <span class="banner__image-caption">Yoko</span>
      <span class="banner__image" style="background-image: url('images/content/img_4.jpg')"></span>
      <span class="banner__image-title">Boucheron</span>
    </span>
    <span class="banner__title-block">
      <span class="banner__title">Кольца, подвески и браслеты из платины</span>
      <span class="banner__to_catalog">в каталог <svg class="main-banner__icon" aria-hidden="true"><use xlink:href="#arrow_right"/></svg></span>
    </span>
  </a>
  <a class="banner banner--left" href="#2">
    <span class="banner__image-block">
      <span class="banner__image-caption">Monza</span>
      <span class="banner__image" style="background-image: url('images/content/img_2.jpg')"></span>
      <span class="banner__image-title">Crow's Nest</span>
    </span>
    <span class="banner__title-block">
      <span class="banner__title">Кольца, подвески и браслеты из платины</span>
      <span class="banner__to_catalog">в каталог <svg class="main-banner__icon" aria-hidden="true"><use xlink:href="#arrow_right"/></svg></span>
    </span>
  </a>
  <a class="banner banner--right" href="#3">
    <span class="banner__image-block">
      <span class="banner__image-caption">Korloff 2018</span>
      <span class="banner__image" style="background-image: url('images/content/img_5.jpg')"></span>
      <span class="banner__image-title">SALE</span>
    </span>
    <span class="banner__title-block">
      <span class="banner__title">Кольца, подвески и браслеты из платины</span>
      <span class="banner__to_catalog">в каталог <svg class="main-banner__icon" aria-hidden="true"><use xlink:href="#arrow_right"/></svg></span>
    </span>
  </a>
  <a class="banner banner--left" href="#4">
    <span class="banner__image-block">
      <span class="banner__image-caption">Collection</span>
      <span class="banner__image" style="background-image: url('images/content/img_3.jpg')"></span>
      <span class="banner__image-title">wedding rings</span>
    </span>
    <span class="banner__title-block">
      <span class="banner__title">Кольца, подвески и браслеты из платины</span>
      <span class="banner__to_catalog">в каталог <svg class="main-banner__icon" aria-hidden="true"><use xlink:href="#arrow_right"/></svg></span>
    </span>
  </a>
</div>
