<div class="collections">
  <a class="collection-banner collection-banner--right" href="#1">
    <span class="collection-banner__image-block">
      <span class="collection-banner__image" style="background-image: url('images/content/img_44.jpg')"></span>
      <span class="collection-banner__image-title">Cufflinks</span>
    </span>
  </a>
  <a class="collection-banner collection-banner--left" href="#2">
    <span class="collection-banner__image-block">
      <span class="collection-banner__image" style="background-image: url('images/content/img_43.jpg')"></span>
      <span class="collection-banner__image-title">Women's rings</span>
    </span>
  </a>
  <a class="collection-banner collection-banner--right" href="#3">
    <span class="collection-banner__image-block">
      <span class="collection-banner__image" style="background-image: url('images/content/img_45.jpg')"></span>
      <span class="collection-banner__image-title">Mens Bracelets</span>
    </span>
  </a>
</div>
