<div class="collections">
  <div class="collections__column-right">
    <div class="collections__item">
      <a class="collection-banner collection-banner--right collection-banner--square" href="#1">
        <span class="collection-banner__image-block">
          <span class="collection-banner__image" style="background-image: url('images/content/img_43.jpg')"></span>
          <span class="collection-banner__image-title">QUATRE</span>
        </span>
      </a>
    </div>
    <div class="collections__item">
      <a class="collection-banner collection-banner--right collection-banner--square" href="#3">
        <span class="collection-banner__image-block">
          <span class="collection-banner__image" style="background-image: url('images/content/img_50.jpg')"></span>
          <span class="collection-banner__image-title">SERPENT BOHÈME</span>
        </span>
      </a>
    </div>
  </div>
  <div class="collections__column-left">
    <div class="collections__item">
      <a class="collection-banner collection-banner--left" href="#2">
        <span class="collection-banner__image-block">
          <span class="collection-banner__image" style="background-image: url('images/content/img_45.jpg')"></span>
          <span class="collection-banner__image-title">ANIMAUX DE COLLECTION</span>
        </span>
      </a>
    </div>
  </div>
</div>
