<div id="fit" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="#close"/></svg></button>
  <p class="popup__title">Примерить в бутике</p>
  <form class="popup__form form" action="/">
    <div class="popup__cols">
      <div class="popup__col">
        <label class="form__label" for="name">
          <input class="input" id="name" type="text" name="name" value="" placeholder="Имя">
        </label>
        <label class="form__label" for="phone">
          <input class="input" id="phone" type="text" name="phone" value="" placeholder="Телефон">
        </label>
        <label class="form__label" for="email">
          <input class="input" id="email" type="text" name="email" value="" placeholder="E-mail">
        </label>
        <label class="form__label" for="comment">
          <textarea class="textarea" id="comment" name="comment" placeholder="Комментарий (Предпочитаемая дата, время визита и другие подробности)"></textarea>
        </label>
      </div>
      <div class="popup__col">
        <div class="shop-info">
          <p class="shop-info__title"><svg class="shop-info__address-icon" aria-hidden="true"><use xlink:href="#pin"/></svg>Gold Union</p>
          <p class="shop-info__subtitle">Телефон</p>
          <p class="shop-info__data"><a href="tel:+78123323262">+7 (812) 332 32 62</a></p>
          <p class="shop-info__subtitle">e-mail</p>
          <p class="shop-info__data"><a href="mailto:monza@goldunion.spb.ru">monza@goldunion.spb.ru</a></p>
          <p class="shop-info__subtitle">Адрес</p>
          <p class="shop-info__data">Санкт-Петербург, ул. Михайловская, 4</p>
          <p class="shop-info__subtitle">время работы</p>
          <p class="shop-info__data">Ежедневно с 11.00 до 21.00</p>
        </div>
      </div>
    </div>
    <div class="popup__button-block">
      <button class="popup__button button button--dark" type="submit">ОТПРАВИТЬ</button>
    </div>
  </form>
</div>

<div id="fit2" class="popup popup--small">
  <button class="js-popup-close popup__close" type="button" title="Закрыть"><svg class="popup__close-icon" aria-hidden="true"><use xlink:href="#close"/></svg></button>
  <p class="popup__title">Примерить в бутике</p>
  <form class="popup__form form" action="/">
    <div class="popup__cols">
      <div class="popup__col">
        <label class="form__label" for="name">
          <input class="input" id="name" type="text" name="name" value="" placeholder="Имя">
        </label>
        <label class="form__label" for="phone">
          <input class="input" id="phone" type="text" name="phone" value="" placeholder="Телефон">
        </label>
        <label class="form__label" for="email">
          <input class="input" id="email" type="text" name="email" value="" placeholder="E-mail">
        </label>
        <label class="form__label" for="comment">
          <textarea class="textarea" id="comment" name="comment" placeholder="Комментарий (Предпочитаемая дата, время визита и другие подробности)"></textarea>
        </label>
      </div>
    </div>
    <div class="popup__button-block">
      <button class="popup__button button button--dark" type="submit">ОТПРАВИТЬ</button>
    </div>
  </form>
</div>
