<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__right-block">
      <div class="footer__social">
        <!--<a class="social-link" href="#" title="vk.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--vk" aria-hidden="true">
            <use xlink:href="#vk" /></svg></a>-->
        <a class="social-link" href="#" title="facebook.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--fb" aria-hidden="true">
            <use xlink:href="#fb" /></svg></a>
        <!--<a class="social-link" href="#" title="twitter.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--tw" aria-hidden="true">
            <use xlink:href="#tw" /></svg></a>-->
        <a class="social-link" href="#" title="instagram.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--inst" aria-hidden="true">
            <use xlink:href="#inst" /></svg></a>
        <a class="social-link" href="#" title="youtube.com" rel="noreferrer noopener"><svg class="social-link__icon social-link__icon--yt" aria-hidden="true">
            <use xlink:href="#yt" /></svg></a>
      </div>
      <a class="footer__phone" href="tel:+78007778855">8 (800) 222 00 00</a>
    </div>
    <ul class="footer__menu">
      <li class="footer__menu-item"><a class="footer__menu-link" href="#">Оплата</a></li>
      <li class="footer__menu-item"><a class="footer__menu-link" href="#">Доставка</a></li>
      <li class="footer__menu-item"><a class="footer__menu-link" href="#">Правила возврата</a></li>
      <li class="footer__menu-item"><a class="footer__menu-link" href="#">Гарантия</a></li>
      <li class="footer__menu-item"><a class="footer__menu-link" href="#">Договор публичной оферты</a></li>
      <li class="footer__menu-item"><a class="footer__menu-link" href="#">Конфиденциальность</a></li>
    </ul>
    <div class="footer__logo"><img src="images/logo.svg" alt="GOLD UNION"></div>
    <p class="footer__copyrights"><span>Gold Union House © 2004 - 2018</span> ALL RIGHTS RESERVED</p>
    <p class="footer__developer">Маркетинговая поддержка <a href="https://vsignal.ru/" title="Маркетинговое агенство «VSignal»" target="_blank">VSignal</a></p>
  </div>
</footer>