<header class="header">
  <div class="header__top container">
    <div class="header__top-inner">
      <button class="js-menu-opener menu-opener" type="button" title="Меню"><span></span></button>
      <div class="header__service-menu service-menu">
        <a class="service-menu__link" href="about.html">О компании</a>
        <a class="service-menu__link" href="shops.html">Бутики</a>
        <a class="service-menu__link" href="news.html">Новости</a>
      </div>
      <a class="logo" href="main.html"><img width="268" height="55" src="images/logo.svg" alt="GOLD UNION"></a>
      <div class="header__right">
        <a class="js-search-opener eader__search-link search-link" href="search.html" title="Поиск"><svg class="search-link__icon" aria-hidden="true"><use xlink:href="#search"/></svg></a>
        <a class="header__cart-link cart-link" href="cart.html" title="Корзина">
          <svg class="cart-link__icon" aria-hidden="true"><use xlink:href="#cart"/></svg>
          <span class="cart-link__decimal">10</span>
        </a>
        <a class="header__personal-link" href="auth.html">Войти</a>
      </div>
    </div>
  </div>
  <div class="main-menu">
    <nav class="main-menu__nav">
      <ul class="main-menu__list">
        <li class="main-menu__list-item main-menu__list-item--mobile">
          <a class="main-menu__link" href="auth.html">Войти</a>
        </li>
        <li class="main-menu__list-item main-menu__list-item--mobile">
          <a class="main-menu__link" href="about.html">О компании</a>
        </li>
        <li class="main-menu__list-item main-menu__list-item--mobile">
          <a class="main-menu__link" href="shops.html">Бутики</a>
        </li>
        <li class="main-menu__list-item main-menu__list-item--mobile">
          <a class="main-menu__link" href="news.html">Новости</a>
        </li>
        <li class="main-menu__list-item main-menu__list-item--desktop js-dropdown" id="m1">
          <a class="main-menu__link main-menu__link--root" href="brands.html">Бренды</a>
          <button class="main-menu__link main-menu__link--pseudo" type="button">Бренды <svg class="main-menu__link-icon" aria-hidden="true"><use xlink:href="#arrow_right"/></svg></button>
          <div class="sub-menu">
            <div class="sub-menu__inner">
              <ul class="sub-menu__list">
                <li class="sub-menu__list-item"><button class="sub-menu__link sub-menu__link--pseudo" type="button"><svg class="sub-menu__link-icon" aria-hidden="true"><use xlink:href="#arrow_left"/></svg> Назад</button></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Gavello</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Mariani</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Mattia Cielo</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Van Der Bauwede</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Mangiarotti</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Oro Trend</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Quinting</a></li>
              </ul>
              <ul class="sub-menu__list">
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Korloff</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Boucheron</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Bayco</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Colored Stones</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Monza</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Palmiero</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Crow's Nest</a></li>
              </ul>
              <ul class="sub-menu__list">
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Yoko</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Victor Mayer</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Piu Bello</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Tirisi</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">PB by Piu Bello</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Gold&Roses</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link sub-menu__link--more" href="brands.html">Все бренды</a></li>
              </ul>
              <div class="sub-menu__image"><img src="images/content/img_44.jpg" srcset="images/content/img_44.jpg 2x" alt="image alt"></div>
            </div>
          </div>
        </li>
        <li class="main-menu__list-item">
          <a class="main-menu__link" href="catalog-section.html">Ювелирная коллекция</a>
        </li>
        <li class="main-menu__list-item js-dropdown" id="m2">
          <a class="main-menu__link main-menu__link--root" href="catalog-section.html">Помолвка & Свадьба</a>
          <button class="main-menu__link main-menu__link--pseudo" type="button">Помолвка & Свадьба <svg class="main-menu__link-icon" aria-hidden="true"><use xlink:href="#arrow_right"/></svg></button>
          <div class="sub-menu">
            <div class="sub-menu__inner">
              <ul class="sub-menu__list sub-menu__list--section">
                <li class="sub-menu__list-item"><button class="sub-menu__link sub-menu__link--pseudo" type="button"><svg class="sub-menu__link-icon" aria-hidden="true"><use xlink:href="#arrow_left"/></svg> Назад</button></li>
                <li class="sub-menu__list-item sub-menu__list-item--title"><a class="sub-menu__link sub-menu__link--title" href="catalog-section.html">ЖЕНСКИЕ</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="catalog-section.html">Кольца</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="catalog-section.html">Серьги</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="catalog-section.html">Браслеты</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="catalog-section.html">Подвески</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="catalog-section.html">Колье</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--pre_last"><a class="sub-menu__link" href="catalog-section.html">Высокое ювелирное искусство</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--more"><a class="sub-menu__link sub-menu__link--more" href="catalog-section.html">Смотреть всё</a></li>
              </ul>
              <ul class="sub-menu__list sub-menu__list--section">
                <li class="sub-menu__list-item sub-menu__list-item--title"><a class="sub-menu__link sub-menu__link--title" href="catalog-section.html">МУЖСКИЕ</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="catalog-section.html">Кольца</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="catalog-section.html">Запонки</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="catalog-section.html">Браслеты</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--pre_last"><a class="sub-menu__link" href="catalog-section.html">Подвески</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--more"><a class="sub-menu__link sub-menu__link--more" href="catalog-section.html">Смотреть всё</a></li>
              </ul>
              <ul class="sub-menu__list sub-menu__list--section">
                <li class="sub-menu__list-item sub-menu__list-item--title"><a class="sub-menu__link sub-menu__link--title" href="brands.html">Бренды</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Gavello</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Korloff</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="brand.html">Mangiarotti</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--pre_last"><a class="sub-menu__link" href="brand.html">Qinting</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--more"><a class="sub-menu__link sub-menu__link--more" href="brands.html">Все бренды</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="main-menu__list-item">
          <a class="main-menu__link" href="catalog-section.html">Часы</a>
        </li>
        <li class="main-menu__list-item">
          <a class="main-menu__link" href="catalog-section.html">Аксессуары</a>
        </li>
        <li class="main-menu__list-item">
          <a class="main-menu__link" href="catalog-section.html">Sale</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
