<header class="header">
  <div class="header__top container">
    <div class="header__top-inner">
      <button class="js-menu-opener menu-opener" type="button" title="Меню"><span></span></button>
      <div class="header__service-menu service-menu">
        <a class="service-menu__link" href="#">О компании</a>
        <a class="service-menu__link" href="#">Бутики</a>
      </div>
      <a class="logo" href="/"><img width="268" height="55" src="images/logo.svg" alt="GOLD UNION"></a>
      <div class="header__right">
        <a class="js-search-opener eader__search-link search-link" href="search.html" title="Поиск"><svg class="search-link__icon" aria-hidden="true"><use xlink:href="#search"/></svg></a>
        <a class="header__cart-link cart-link" href="search.html" title="Корзина">
          <svg class="cart-link__icon" aria-hidden="true"><use xlink:href="#cart"/></svg>
          <span class="cart-link__decimal">10</span>
        </a>
        <a class="header__personal-link" href="#">Войти</a>
      </div>
    </div>
  </div>
  <div class="main-menu">
    <nav class="main-menu__nav">
      <ul class="main-menu__list">
        <li class="main-menu__list-item main-menu__list-item--mobile">
          <a class="main-menu__link" href="#">Войти</a>
        </li>
        <li class="main-menu__list-item main-menu__list-item--mobile">
          <a class="main-menu__link" href="#">О компании</a>
        </li>
        <li class="main-menu__list-item main-menu__list-item--mobile">
          <a class="main-menu__link" href="#">Бутики</a>
        </li>
        <li class="main-menu__list-item">
          <a class="main-menu__link main-menu__link--root" href="#">Бренды</a>
          <button class="main-menu__link main-menu__link--pseudo" type="button">Бренды <svg class="main-menu__link-icon" aria-hidden="true"><use xlink:href="#arrow_right"/></svg></button>
          <div class="sub-menu">
            <div class="sub-menu__inner">
              <ul class="sub-menu__list">
                <li class="sub-menu__list-item"><button class="sub-menu__link sub-menu__link--pseudo" type="button"><svg class="sub-menu__link-icon" aria-hidden="true"><use xlink:href="#arrow_left"/></svg> Назад</button></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Gavello</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Mariani</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Mattia Cielo</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Van Der Bauwede</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Mangiarotti</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Oro Trend</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Quinting</a></li>
              </ul>
              <ul class="sub-menu__list">
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Korloff</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Boucheron</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Bayco</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Colored Stones</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Monza</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Palmiero</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Crow's Nest</a></li>
              </ul>
              <ul class="sub-menu__list">
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Yoko</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Victor Mayer</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Piu Bello</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Tirisi</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">PB by Piu Bello</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Gold&Roses</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link sub-menu__link--more" href="#">Все бренды</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="main-menu__list-item">
          <a class="main-menu__link" href="#">Ювелирная коллекция</a>
        </li>
        <li class="main-menu__list-item">
          <a class="main-menu__link main-menu__link--root" href="#">Помолвка & Свадьба</a>
          <button class="main-menu__link main-menu__link--pseudo" type="button">Помолвка & Свадьба <svg class="main-menu__link-icon" aria-hidden="true"><use xlink:href="#arrow_right"/></svg></button>
          <div class="sub-menu">
            <div class="sub-menu__inner">
              <ul class="sub-menu__list sub-menu__list--section">
                <li class="sub-menu__list-item"><button class="sub-menu__link sub-menu__link--pseudo" type="button"><svg class="sub-menu__link-icon" aria-hidden="true"><use xlink:href="#arrow_left"/></svg> Назад</button></li>
                <li class="sub-menu__list-item sub-menu__list-item--title"><a class="sub-menu__link sub-menu__link--title" href="#">ЖЕНСКИЕ</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Кольца</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Серьги</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Браслеты</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Подвески</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Колье</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--pre_last"><a class="sub-menu__link" href="#">Высокое ювелирное искусство</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--more"><a class="sub-menu__link sub-menu__link--more" href="#">Смотреть всё</a></li>
              </ul>
              <ul class="sub-menu__list sub-menu__list--section">
                <li class="sub-menu__list-item sub-menu__list-item--title"><a class="sub-menu__link sub-menu__link--title" href="#">МУЖСКИЕ</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Кольца</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Запонки</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Браслеты</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--pre_last"><a class="sub-menu__link" href="#">Подвески</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--more"><a class="sub-menu__link sub-menu__link--more" href="#">Смотреть всё</a></li>
              </ul>
              <ul class="sub-menu__list sub-menu__list--section">
                <li class="sub-menu__list-item sub-menu__list-item--title"><a class="sub-menu__link sub-menu__link--title" href="#">Бренды</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Gavello</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Korloff</a></li>
                <li class="sub-menu__list-item"><a class="sub-menu__link" href="#">Mangiarotti</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--pre_last"><a class="sub-menu__link" href="#">Qinting</a></li>
                <li class="sub-menu__list-item sub-menu__list-item--more"><a class="sub-menu__link sub-menu__link--more" href="#">Все бренды</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="main-menu__list-item">
          <a class="main-menu__link" href="#">Часы</a>
        </li>
        <li class="main-menu__list-item">
          <a class="main-menu__link is-active" href="#">Аксессуары</a>
        </li>
        <li class="main-menu__list-item">
          <a class="main-menu__link" href="#">Sale</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
