<a class="main-banner" href="#">
  <span class="main-banner__title" data-text="Gold &#10; Union &#10; House"></span>
  <div class="main-banner__image js-main-banner">
    <div><img src="images/content/img_1.jpg" alt="Capture Me AKILLIS"></div>
    <div><img src="images/content/img_2.jpg" alt="Capture Me AKILLIS"></div>
    <!--<span class="main-banner__image-caption main-banner__image-caption--light">Deluxe Russian Grooves</span>-->
  </div>
  <div class="main-banner__text-block">
    <!--<p class="main-banner__text-1">2018</p>-->
    <p class="main-banner__text-2">Capture<br> Me</p>
    <p class="main-banner__text-3">AKILLIS</p>
    <p class="main-banner__text-4">в каталог
      <!-- <svg class="main-banner__icon" aria-hidden="true"><use xlink:href="#arrow_right"/></svg>-->
    </p>
  </div>
</a>