<div class="js-main-banner-new main-banner-new-slider">
    <div class="main-banner-new-slider__slide">
        <a class="main-banner-new main-banner-new--white" href="#">
            <picture>
                <source srcset="images/content/new_banner/1_desk.jpg" media="(min-width: 768px)">
                <img src="images/content/new_banner/1_mob.jpg" alt="">
            </picture>
            <span class="main-banner-new__container">
                <span class="main-banner-new__brand">Rolex</span>
                <span class="main-banner-new__title">Новинки <br> 2023 года</span>
                <span class="main-banner-new__text">Совершенство как вызов.</span>
                <span class="main-banner-new__btn">Подробнее</span>
            </span>
        </a>
    </div>
    <div class="main-banner-new-slider__slide">
        <a class="main-banner-new" href="#">
            <picture>
                <source srcset="images/content/new_banner/2_desk.jpeg" media="(min-width: 768px)">
                <img src="images/content/new_banner/2_mob.jpeg" alt="">
            </picture>
            <span class="main-banner-new__container">
                <span class="main-banner-new__brand">Tudor</span>
                <span class="main-banner-new__title">Часы Black Bay</span>
                <span class="main-banner-new__text">Водонепроницаемый до 200 м стальной корпус модели имеет нарочито небольшой диаметр 39 мм, также сближающий современную модель с историческими оригиналами.</span>
                <span class="main-banner-new__btn">Подробнее</span>
            </span>
        </a>
    </div>
</div>