<div class="js-news-slider news-slider">
  <div>
    <a class="news" href="news-detail.html">
      <span class="news__image">
        <!--<span class="news__date">28 января 2018</span>-->
        <img src="images/content/img_6.jpg" alt="">
      </span>
      <span class="news__title">Trunk Show. Season 2.</span>
      <span class="news__preview-text">Ювелирный Дом Gold Union и Катерина Перез вновь повторили успешную коллаборацию и привезли 6 уникальных ювелирных дизайнеров в Санкт-Петербург на временную выставку-продажу.</span>
    </a>
  </div>
  <div>
    <a class="news" href="news-detail.html">
      <span class="news__image">
        <!--<span class="news__date">28 января 2018</span>-->
        <img src="images/content/img_7.jpg" alt="">
      </span>
      <span class="news__title">Цветочное дефиле</span>
      <span class="news__preview-text">В рамках XI Международного Фестиваля «Императорские сады России: Цветочная ассамблея» в Ювелирном бутике Gold Union на Невском проспекте 137 прошел закрытый коктейль при участии «Цветочной Дивы» и автора Международного Бала Цветов – Татьяны Тридворновой.</span>
    </a>
  </div>
  <div>
    <a class="news" href="news-detail.html">
      <span class="news__image">
        <!--<span class="news__date">28 января 2018</span>-->
        <img src="images/content/img_32.jpg" alt="">
      </span>
      <span class="news__title">Творческий вечер Ирины Огановой в бутике Gold Union</span>
      <span class="news__preview-text">15 мая в ювелирном бутике Gold Union на Невском проспекте 137 прошли авторские чтения рассказа Ирины Огановой «Игры с воображением».</span>
    </a>
  </div>
  <div>
    <a class="news" href="news-detail.html">
      <span class="news__image">
        <!--<span class="news__date">28 января 2018</span>-->
        <img src="images/content/img_33.jpg" alt="">
      </span>
      <span class="news__title">Стильные советы от Елены Анненковой</span>
      <span class="news__preview-text">6 июня бутик Piu Bello на ул. Конюшенной, 27 распахнул свои двери для учениц профессионального имиджмейкера Елены Анненковой, которая провела в Piu Bello практический мастер-класс по трендовым украшениям.</span>
    </a>
  </div>
  <div>
    <a class="news" href="news-detail.html">
      <span class="news__image">
        <!--<span class="news__date">28 января 2018</span>-->
        <img src="images/content/img_34.jpg" alt="">
      </span>
      <span class="news__title">Веганский кутеж в бриллиантах</span>
      <span class="news__preview-text">21 марта в бутике Gold Union на Невском пр., 137 состоялся девичник, на котором Ювелирный Дом собрал своих друзей и клиентов, чтобы поболтать на разные темы, актуальные для современных женщин.</span>
    </a>
  </div>
  <div>
    <a class="news" href="news-detail.html">
      <span class="news__image">
        <!--<span class="news__date">28 января 2018</span>-->
        <img src="images/content/img_35.jpg" alt="">
      </span>
      <span class="news__title">Secret Gold Union</span>
      <span class="news__preview-text">31 мая Ювелирный Дом Gold Union отметил свой 14-й День Рождения, врываясь в лето под музыкальные хиты Анастасии Стоцкой и сногсшибательные танцы.</span>
    </a>
  </div>
</div>
