<h2 class="news-title">Новости</h2>
<div class="js-news-slider news-slider">
  <div>
    <a class="news" href="#">
      <span class="news__image">
        <span class="news__date">28 января 2018</span>
        <img src="images/content/img_6.jpg" alt="">
      </span>
      <span class="news__title">Гавайский вулкан извергает драгоценные камни</span>
      <span class="news__preview-text">Вулкан Килауэа, извержение которого продолжается больше месяца, стал источником не только раскаленной лавы, но и ярко-зеленых оливинов.</span>
    </a>
  </div>
  <div>
    <a class="news" href="#">
      <span class="news__image">
        <span class="news__date">28 января 2018</span>
        <img src="images/content/img_7.jpg" alt="">
      </span>
      <span class="news__title">Бриллиант королевы Испании</span>
      <span class="news__preview-text">Темно-голубой драгоценный камень, более 300 лет назад принадлежавший Изабелле Фарнезе, был продан дороже, чем предполагали специалисты.</span>
    </a>
  </div>
  <div>
    <a class="news" href="#">
      <span class="news__image">
        <span class="news__date">28 января 2018</span>
        <img src="images/content/img_6.jpg" alt="">
      </span>
      <span class="news__title">Гавайский вулкан извергает драгоценные камни</span>
      <span class="news__preview-text">Вулкан Килауэа, извержение которого продолжается больше месяца, стал источником не только раскаленной лавы, но и ярко-зеленых оливинов.</span>
    </a>
  </div>
</div>
