<div class="js-products-slider products-slider">
  <div class="products-slider__item">
    <a class="product2" href="catalog-detail.html">
      <span class="product2__inner">
        <!--<span class="product2__image" style="background-image: url('images/content/img_8.jpg')"></span>-->
        <span class="product2__img">
          <img src="images/content/img_8.jpg" srcset="images/content/img_8_2x.jpg 2x" alt="Boucheron Biladom Le Panda">
        </span>
        <span class="product2__title">Biladom Le Panda</span>
        <span class="product2__price">1540,0$</span>
      </span>
    </a>
  </div>
  <div class="products-slider__item">
    <a class="product2" href="catalog-detail.html">
      <span class="product2__inner">
        <!--<span class="product2__image" style="background-image: url('images/content/img_9.jpg')"></span>-->
        <span class="product2__img">
          <img src="images/content/img_9.jpg" srcset="images/content/img_9_2x.jpg 2x" alt="Hera Le Paon">
        </span>
        <span class="product2__title">Hera Le Paon</span>
        <span class="product2__price">1540,0$</span>
      </span>
    </a>
  </div>
  <div class="products-slider__item">
    <a class="product2" href="catalog-detail.html">
      <span class="product2__inner">
        <!--<span class="product2__image" style="background-image: url('images/content/img_10.jpg')"></span>-->
        <span class="product2__img">
          <img src="images/content/img_10.jpg" srcset="images/content/img_10_2x.jpg 2x" alt="Hibiscus">
        </span>
        <span class="product2__title">Hibiscus</span>
        <span class="product2__price">1540,0$</span>
      </span>
    </a>
  </div>
  <div class="products-slider__item">
    <a class="product2" href="catalog-detail.html">
      <span class="product2__inner">
        <!--<span class="product2__image" style="background-image: url('images/content/img_11.jpg')"></span>-->
        <span class="product2__img">
          <img src="images/content/img_11.jpg" srcset="images/content/img_11_2x.jpg 2x" alt="Ketos L'hippocampe">
        </span>
        <span class="product2__title">Ketos L'hippocampe</span>
        <span class="product2__price">1540,0$</span>
      </span>
    </a>
  </div>
  <div class="products-slider__item">
    <a class="product2" href="catalog-detail.html">
      <span class="product2__inner">
        <!--<span class="product2__image" style="background-image: url('images/content/img_12.jpg')"></span>-->
        <span class="product2__img">
          <img src="images/content/img_12.jpg" srcset="images/content/img_12_2x.jpg 2x" alt="Bagha Le Tigre">
        </span>
        <span class="product2__title">Bagha Le Tigre</span>
        <span class="product2__price">1540,0$</span>
      </span>
    </a>
  </div>
  <div class="products-slider__item">
    <a class="product2" href="catalog-detail.html">
      <span class="product2__inner">
        <!--<span class="product2__image" style="background-image: url('images/content/img_13.jpg')"></span>-->
        <span class="product2__img">
          <img src="images/content/img_13.jpg" srcset="images/content/img_13_2x.jpg 2x" alt="Bagha Le Tigre">
        </span>
        <span class="product2__title">Bagha Le Tigre</span>
        <span class="product2__price">1540,0$</span>
      </span>
    </a>
  </div>
</div>
