.banners
  &__inner
    margin-bottom: 60px

    @media(min-width: 960px)
      margin-bottom: 48px

    &:last-child
      margin-bottom: 0

    @media(min-width: 960px)
      align-items: flex-start
      display: flex
      flex-direction: row-reverse
      flex-wrap: wrap
      position: relative
      z-index: 2

  &__column-right
    margin-bottom: 60px

    @media(min-width: 960px)
      margin-top: -120px
      margin-bottom: 0
      width: 41.6666%

  &__column-left
    @media(min-width: 960px)
      margin-right: 8.33333%
      width: 50%

  &__item
    margin-bottom: 60px

    &:last-child
      margin-bottom: 0

  &__cells
    @media(min-width: 960px)
      align-items: flex-start
      display: flex
      justify-content: space-between
      margin-bottom: 60px

  &__cell
    margin-bottom: 60px

    @media(min-width: 960px)
      margin-bottom: 0
      width: 50%

    &:first-child
      @media(min-width: 960px)
        padding-left: 0
        padding-right: 12px

    &:last-child
      @media(min-width: 960px)
        padding-left: 12px
        padding-right: 0

.banner
  display: block
  text-decoration: none

  &--right
    .banner__image
      @media(min-width: 960px)
        padding-bottom: 140%

    .banner__image-caption
      @media(min-width: 768px)
        text-align: right

    .banner__image-title
      @media(min-width: 768px)
        left: auto
        right: 0

    .banner__title-block
      @media(min-width: 768px)
        text-align: right

  &--video
    .banner__image
      padding-bottom: 72.7272%

    .banner__image-caption
      @media(min-width: 768px)
        text-align: right

    .banner__image-title
      @media(min-width: 768px)
        left: auto
        right: 0

    .banner__title-block
      @media(min-width: 768px)
        text-align: right

  &--left
    display: flex
    flex-direction: column

    .banner__image-block
      @media(min-width: 960px)
        order: 2

    .banner__image
      @media(min-width: 960px)
        padding-bottom: 116%

    .banner__image-caption
      @media(min-width: 768px)
        text-align: left

      @media(min-width: 960px)
        bottom: -2em
        text-align: right
        top: auto

    .banner__image-title
      @media(min-width: 768px)
        left: 0
        margin-top: 0

      @media(min-width: 960px)
        bottom: auto
        top: 0

    .banner__title-block
      @media(min-width: 768px)
        text-align: left
        padding-bottom: 24px

      @media(min-width: 960px)
        order: 1
        padding-top: 0

  &--wide
    display: flex
    flex-direction: column

    .banner__image-block
      @media(min-width: 960px)
        order: 2

    .banner__image
      //@media(min-width: 960px)
      padding-bottom: 42.187%

    .banner__image-caption
      @media(min-width: 768px)
        text-align: left

      @media(min-width: 960px)
        bottom: -2em
        text-align: right
        top: auto

    .banner__image-title
      @media(min-width: 768px)
        left: 0
        margin-top: 0

      @media(min-width: 960px)
        bottom: auto
        top: 0

    .banner__title-block
      @media(min-width: 768px)
        text-align: left
        padding-bottom: 24px

      @media(min-width: 960px)
        order: 1
        padding-top: 0

  &:hover
    .banner__image-title
      @media(min-width: 768px)
        background-color: rgba(255,255,255,0.5)
        color: #fff

    .banner__to_catalog
      color: #b8b8b8

    .banner__icon
      fill: #b8b8b8

  &__image-block,
  &__image,
  &__image-caption,
  &__image-title,
  &__title-block,
  &__title,
  &__to_catalog
    display: block

  &__image-block
    display: flex
    flex-direction: column
    justify-content: flex-end
    position: relative

  &__image
    align-items: center
    background-size: cover
    background-position: 50% 50%
    padding-bottom: 114.16666%

    &--video
      position: relative

      &::before
        background-color: rgba(0,0,0,0.4)
        content: ""
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 1

      &::after
        background: url("../images/icons/video.png") no-repeat 50% 50% / 50px 50px transparent
        content: ""
        height: 50px
        left: 50%
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)
        width: 50px
        z-index: 2

  &__image-caption
    color: #353535
    font-size: 12px
    left: 0
    line-height: 1.5
    position: absolute
    padding-left: 24px
    padding-right: 24px
    top: -2em
    text-align: center
    width: 100%

    @media(min-width: 768px)
      font-size: 16px
      padding-left: 48px
      padding-right: 48px

    @media(min-width: 960px)
      padding-left: 12px
      padding-right: 12px

  &__image-title
    background-color: #fff
    color: #171619
    font-family: "Constancia", serif
    font-size: 27px
    margin-left: 36px
    margin-right: 36px
    margin-top: -28px
    margin-bottom: -20px
    padding: 24px
    text-align: center
    transition: color 0.3s, background-color 0.3s
    text-transform: uppercase

    @media(min-width: 768px)
      bottom: 0
      margin-left: auto
      margin-right: auto
      margin-bottom: 0
      position: absolute
      top: auto

    @media(min-width: 1200px)
      padding-left: 48px
      padding-right: 48px

  &__title-block
    margin-left: 36px
    margin-right: 36px
    text-align: center

    @media(min-width: 768px)
      margin-left: 0
      margin-right: 0
      padding-top: 24px

  &__title
    color: #171619
    font-size: 15px
    line-height: 20px
    margin-bottom: 20px
    margin-top: 20px

    @media(min-width: 768px)
      margin-top: 0

    @media(min-width: 960px)
      margin-bottom: 6px

  &__to_catalog
    color: #343835
    font-size: 14px
    font-weight: 900
    letter-spacing: 1.5px
    margin-bottom: 0
    text-transform: uppercase
    transition: color 0.3s

  &__icon
    fill: #343835
    height: 11px
    margin-left: 5px
    transition: fill 0.3s
    width: 11px
