.brand-info
  margin-bottom: 48px

  @media(min-width: 960px)
    display: flex

  &--reverse
    @media(min-width: 960px)
      margin-bottom: 76px

    .brand-info__text
      margin-bottom: 40px

      @media(min-width: 960px)
        margin-bottom: 0
        padding-left: 0
        padding-right: 6%

  &__title
    font-size: 36px
    font-weight: 300
    text-align: center
    text-transform: uppercase

    b
      display: block
      font-size: 24px
      font-weight: 700
      letter-spacing: 1px

  &__image
    width: 100%

    @media(min-width: 960px)
      width: 50%

  &__text
    @media(min-width: 960px)
      font-size: 15px
      padding-left: 6%
      width: 50%

    p
      @media(min-width: 960px)
        margin-bottom: 16px

  &__logo
    background-color: #fff
    margin-left: 36px
    margin-right: 36px
    margin-top: -48px
    margin-bottom: 36px
    padding: 48px
    position: relative
    text-align: center

    @media(min-width: 960px)
      margin: 0 auto 24px
      padding: 6px 60px 24px

    &::after
      background-color: #d09b2b
      bottom: 0
      content: ""
      height: 1px
      left: 50%
      position: absolute
      transform: translateX(-50%)
      top: auto
      width: 150px

  &__link-block
    margin-top: 48px
    text-align: center

    @media(min-width: 960px)
      margin-top: 12px

  &__link
    color: #343835
    font-size: 14px
    font-weight: 900
    letter-spacing: 2px
    text-transform: uppercase
    transition: color 0.3s
    text-decoration: none

    &:hover
      color: #b8b8b8

      .brand-info__link-icon
        fill: #b8b8b8

  &__link-icon
    fill: #343835
    height: 11px
    margin-left: 5px
    transition: fill 0.3s
    width: 11px
