.cart
  &__result
    border-bottom: 1px solid #f3f3f3
    font-size: 15px
    margin-bottom: 48px
    padding-right: 24px
    padding-top: 48px
    padding-bottom: 48px
    text-align: right

    @media(min-width: 768px)
      padding-right: 48px

  &__result-cost
    font-size: 23px
    font-weight: 700
    margin-left: 24px
    white-space: nowrap

    @media(min-width: 768px)
      font-size: 27px

  &__buttons
    margin-bottom: 36px
    text-align: center

    @media(min-width: 960px)
      display: flex
      justify-content: flex-end

    .button
      font-size: 11px
      margin-bottom: 12px
      max-width: 420px
      width: 100%

      @media(min-width: 375px)
        font-size: 13px

      @media(min-width: 768px)
        font-size: 15px

      @media(min-width: 960px)
        margin-bottom: 0
        margin-left: 24px

  &__terms
    padding-left: 0
    text-align: center

    @media(min-width: 960px)
      text-align: right

    .checkbox-icon
      margin-right: 24px
      position: relative
      top: -2px

.cart-item
  border: 1px solid #f3f3f3
  display: flex
  margin-top: -1px
  position: relative

  &:first-child
    margin-top: 0

  &__image
    display: block
    max-width: 190px
    padding: 36px 24px
    text-align: center
    width: 55.88%

  &__description
    display: flex
    flex-direction: column
    flex-grow: 1
    justify-content: center
    padding: 36px 24px 36px 0

    @media(min-width: 600px)
      align-items: center
      flex-direction: row
      padding-right: 48px

    @media(min-width: 960px)
      padding-right: 96px
      padding-left: 24px

  &__title-block
    margin-bottom: 12px

    @media(min-width: 600px)
      flex-grow: 1
      margin-bottom: 0
      padding-right: 48px

  &__title
    font-family: "Constantia", serif
    font-size: 15px
    line-height: 1.2
    margin-bottom: 6px

    @media(min-width: 768px)
      font-size: 17px

    @media(min-width: 960px)
      font-size: 23px

    a
      color: #343835
      text-decoration: none

      &:hover
        color: #d5a541
        text-decoration: underline

  &__prop
    color: #b8b8b8
    font-size: 13px
    line-height: 1

    @media(min-width: 768px)
      font-size: 15px

  &__price-block
    @media(min-width: 960px)
      padding-right: 48px

  &__price
    font-size: 17px
    line-height: 1
    white-space: nowrap

    &--old
      color: #b8b8b8
      font-size: 15px
      margin-bottom: 5px
      text-decoration: line-through

    &--new
      color: #d09b2b

  &__delete
    align-items: center
    display: flex
    justify-content: center
    height: 40px
    left: auto
    position: absolute
    right: 0
    top: 0
    width: 40px

    &:hover
      .cart-item__delete-icon
        fill: #343835

    @media(min-width: 960px)
      right: 28px
      top: 50%
      transform: translateY(-50%)

    @media(min-width: 1400px)
      right: 30px

  &__delete-icon
    fill: #b8b8b8
    height: 24px
    transition: fill 0.3s
    width: 24px
