.catalog-page
  overflow-x: hidden

.catalog-section
  align-items: flex-start
  display: flex
  flex-wrap: wrap

  &__subgrid
    width: 100%

    @media(min-width: 480px)
      align-items: flex-start
      display: flex
      flex-wrap: wrap

    @media(min-width: 768px)
      width: 50%

.product
  box-shadow: 0px 0px 1px 0px rgba(210,210,210,1)
  display: block
  position: relative
  padding-bottom: 100%
  text-decoration: none
  width: 100%

  &:hover
    .product__inner
      opacity: 0.5

  &--big
    @media(min-width: 768px)
      padding-bottom: 50%
      width: 50%

  &--small
    @media(min-width: 480px)
      padding-bottom: 50%
      width: 50%

  &__inner
    display: flex
    flex-direction: column
    justify-content: flex-end
    height: 100%
    left: 0
    padding: 24px
    position: absolute
    top: 0
    transition: opacity 0.3s
    width: 100%

    @media(min-width: 768px) and (max-width: 1199px)
      padding: 12px

    //@media(min-width: 1400px)
      padding: 24px

    //@media(min-width: 1600px)
      padding: 48px

  &__image,
  &__text-block,
  &__title,
  &__price
    display: block

  &__img
    align-items: center
    display: flex
    justify-content: center
    height: 100%
    text-align: center
    width: 100%

    @media(min-width: 768px)
      flex-grow: 1
      height: 56%

    img
      max-width: 72%
      max-height: 100%
      height: auto

  //&__image
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: auto 100%
    flex-grow: 1
    max-height: 540px
    max-width: 540px
    margin-left: auto
    margin-right: auto
    width: 100%

  &__title-block
    align-items: flex-end
    display: flex
    font-size: 12px
    justify-content: space-between
    width: 100%

    //@media(min-width: 1600px)
      font-size: 15px

  &__brand
    font-family: "Constantia", serif
    font-size: 17px
    max-height: 1em
    overflow: hidden

    //@media(min-width: 1600px)
      font-size: 23px

  &__brand,
  &__title
    color: #343835

  &__title
    margin-right: 15px
    max-height: 3em
    overflow: hidden

  &__price
    color: #d09b2b
    white-space: nowrap

$i: 12
@while $i > 0
  .order-#{$i}
    @media(max-width: 767px)
      order: $i
  $i: $i - 1
