.news-title
  font-size: 20px
  font-weight: 900
  line-height: 1
  letter-spacing: 2px
  margin-bottom: 48px
  margin-top: 48px
  text-align: center
  text-transform: uppercase

  @media(min-width: 768px)
    font-size: 23px

  @media(min-width: 960px)
    margin-bottom: 76px
    margin-top: 76px

.news-slider
  @media(min-width: 768px)
    margin-left: -20px
    margin-right: -20px

  &:not(.slick-initialized)
    display: flex
    overflow-x: auto

  .news
    margin-bottom: 0
    text-align: center

    @media(min-width: 768px)
      max-width: 720px
      padding-left: 24px
      padding-right: 24px
      text-align: left

    @media(min-width: 1200px)
      padding-left: 30px
      padding-right: 30px
