.product-detail
  margin-bottom: 48px

  @media(min-width: 960px)
    align-items: flex-start
    display: flex
    margin-bottom: 96px
    margin-top: 48px

  &__images
    margin-bottom: 24px
    position: relative

    @media(min-width: 960px)
      margin-bottom: 0
      min-width: 54.1666%
      padding-right: 4.1666%
      width: 54.1666%

  &__main-image
    outline: 1px solid #f3f3f3

    &:hover
      .product-detail__hint
        opacity: 0
        visibility: hidden

  &__thumbs
    margin-top: 10px
    padding-left: 40px
    padding-right: 40px

    .slick-prev,
    .slick-next
      background-color: #fff
      width: 30px

      &::before
        color: #b4b4b4 !important
        font: 900 24px/1 'magictoolbox-thin' !important

    .slick-prev
      left: 0

      &::before
        content: "\a002"

    .slick-next
      right: 0

      &::before
        content: "\a003"

  &__thumb
    display: block
    margin-left: auto
    margin-right: auto
    padding: 0 1px
    transition: all 0.3s
    width: 40px

    @media(min-width: 768px)
      width: 60px

    @media(min-width: 1200px)
      width: 80px

    &.mz-thumb-selected
      img
        border-color: #343835

    img
      border: 1px solid #f3f3f3

  &__hint
    align-items: center
    background-color: #fff
    bottom: 0
    color: #343835
    display: flex
    font-size: 10px
    font-weight: 900
    justify-content: center
    left: 50%
    outline: 1px solid #f3f3f3
    padding: 10px 30px
    position: absolute
    top: auto
    transform: translateX(-50%)
    transition: all 0.4s
    text-transform: uppercase
    z-index: 2

    @media(min-width: 768px)
      font-size: 13px
      padding-top: 15px
      padding-bottom: 15px

    @media(min-width: 960px)
      padding-top: 20px
      padding-bottom: 20px
      width: 240px

  &__hint-icon
    fill: #b8b8b8
    height: 20px
    margin-right: 15px
    width: 20px

  &__description
    @media(min-width: 960px)
      min-width: 45.8334%
      width: 45.8334%

  &__barcode
    color: #b8b8b8
    font-size: 15px
    margin-bottom: 6px

  &__brand
    font-size: 17px
    margin-bottom: 6px

  &__title
    font-family: "Constantia", serif
    font-size: 28px
    font-weight: 400
    margin-bottom: 6px

  &__materials
    //color: #b8b8b8
    font-size: 15px
    margin-bottom: 24px

  &__price-block
    margin-bottom: 24px

  &__price
    font-size: 26px
    line-height: 1

    &--old
      font-size: 17px
      margin-right: 10px
      text-decoration: line-through

    &--new
      color: #d09b2b

  &__sizes
    align-items: center
    display: flex
    font-size: 15px
    margin-bottom: 40px

  &__sizes-title
    margin-bottom: 0
    margin-right: 20px

  &__size
    align-items: center
    border: 1px solid #f3f3f3
    color: #343835
    display: flex
    font-size: 17px
    justify-content: center
    height: 34px
    margin-right: 20px
    text-decoration: none
    transition: color 0.3s, border-color 0.3s
    width: 34px

    &:hover
      border-color: #d09b2b
      color: #d09b2b

    &.is-active
      border-color: #343835
      cursor: default

      &:hover
        color: #343835

  &__sizes-info
    color: #bababa

    &:hover
      color: #343835

  &__buttons
    margin-bottom: 40px

    @media(min-width: 480px)
      display: flex

    .button
      display: block
      margin-bottom: 10px
      width: 100%

      @media(min-width: 480px) and (max-width: 599px)
        display: block
        font-size: 12px
        margin-bottom: 10px
        width: 100%

      @media(min-width: 600px)
        margin-bottom: 0
        margin-right: 10px
        width: calc(50% - 10px)

      @media(min-width: 960px)
        align-items: center
        display: flex
        justify-content: center
        max-width: 200px

  &__shops-list
    margin-bottom: 24px

  &__shops-title
    font-size: 13px
    font-weight: 900
    letter-spacing: 2px
    margin-bottom: 24px
    text-transform: uppercase

.shop
  margin-bottom: 20px

  &:last-child
    margin-bottom: 0

  @media(min-width:480px)
    align-items: center
    display: flex
    justify-content: space-between

  &__title-block
    position: relative
    padding-left: 38px

    @media(min-width:480px)
      padding-right: 38px

  &__address-icon
    fill: #b8b8b8
    height: 20px
    left: 0
    position: absolute
    top: 4px
    width: 20px

    @media(min-width: 1200px)
      top: 6px

  &__title
    font-family: "Constantia", serif
    font-size: 17px
    margin-bottom: 0

  &__address
    //color: #b8b8b8
    font-size: 15px

  &__request-link
    align-items: center
    color: #b8b8b8
    display: inline-flex
    font-size: 12px
    font-weight: 900
    letter-spacing: 2px
    line-height: 1.2
    max-width: 170px
    min-width: 170px
    padding-top: 8px
    padding-bottom: 8px
    transition: color 0.3s
    text-transform: uppercase
    text-decoration: none
    width: 170px

    &:hover
      color: #343835
      .shop__request-link-icon
        fill: #343835

    @media(max-width: 479px)
      margin-left: 38px

  &__request-link-icon
    fill: #b8b8b8
    height: 9px
    margin-left: 5px
    transition: fill 0.3s
    width: 9px

.accordion
  border-bottom: 1px solid #f3f3f3

  &:first-child
    border-top: 1px solid #f3f3f3

  &__title
    cursor: pointer
    font-size: 13px
    font-weight: 900
    letter-spacing: 2px
    margin-bottom: 0
    padding-top: 20px
    padding-bottom: 20px
    padding-right: 70px
    position: relative
    text-transform: uppercase

    &.is-open
      &::after
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cline fill='none' stroke='%23343835' stroke-width='4' stroke-miterlimit='10' x1='24' y1='12' x2='0' y2='12'/%3E%3C/svg%3E%0A")

    &::after
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg%3E%3Cline fill='none' stroke='%23343835' stroke-width='4' stroke-miterlimit='10' x1='12' y1='0' x2='12' y2='24'/%3E%3Cline fill='none' stroke='%23343835' stroke-width='4' stroke-miterlimit='10' class='st0' x1='24' y1='12' x2='0' y2='12'/%3E%3C/g%3E%3C/svg%3E%0A")
      content: ""
      font-size: 13px
      font-weight: 900
      height: 12px
      left: auto
      position: absolute
      right: 35px
      top: 50%
      transform: translateY(-50%)
      width: 12px

  &__text
    display: none
    font-size: 17px
    padding-bottom: 40px

    table
      @media(min-width: 1200px)
        width: 72%
